 html, body {
                height: ;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }
            .wrapper{
                border: 1px solid black;
                padding: ;
                height: auto;
                font-weight: 
                width: 50px;
            }

            .container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }

            .footer {
                border: 1px solid black;
                text-align: center;
                display: inline-block;
                margin-top:  10%;
                margin-left:  50%;
                padding: 0;
                
            }

            .header {
                text-align: center;
                font-size: 96px;
            }